@model Domain.Entities.NFSEDB.NfseTblNfse

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NfseTblNfse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idnfse" />
            <div class="form-group">
                <label asp-for="Idempresa" class="control-label"></label>
                <input asp-for="Idempresa" class="form-control" />
                <span asp-validation-for="Idempresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nunumero" class="control-label"></label>
                <input asp-for="Nunumero" class="form-control" />
                <span asp-validation-for="Nunumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stcodigo" class="control-label"></label>
                <input asp-for="Stcodigo" class="form-control" />
                <span asp-validation-for="Stcodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dtdata" class="control-label"></label>
                <input asp-for="Dtdata" class="form-control" />
                <span asp-validation-for="Dtdata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idoperacao" class="control-label"></label>
                <input asp-for="Idoperacao" class="form-control" />
                <span asp-validation-for="Idoperacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idregime" class="control-label"></label>
                <input asp-for="Idregime" class="form-control" />
                <span asp-validation-for="Idregime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stoptantesimplesnacional" class="control-label"></label>
                <input asp-for="Stoptantesimplesnacional" class="form-control" />
                <span asp-validation-for="Stoptantesimplesnacional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StincentivadorCultural" class="control-label"></label>
                <input asp-for="StincentivadorCultural" class="form-control" />
                <span asp-validation-for="StincentivadorCultural" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dtcompetencia" class="control-label"></label>
                <input asp-for="Dtcompetencia" class="form-control" />
                <span asp-validation-for="Dtcompetencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idnfsesubst" class="control-label"></label>
                <input asp-for="Idnfsesubst" class="form-control" />
                <span asp-validation-for="Idnfsesubst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stoutrasinf" class="control-label"></label>
                <input asp-for="Stoutrasinf" class="form-control" />
                <span asp-validation-for="Stoutrasinf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdcnaeSubclasse" class="control-label"></label>
                <input asp-for="IdcnaeSubclasse" class="form-control" />
                <span asp-validation-for="IdcnaeSubclasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdpreIdcidade" class="control-label"></label>
                <input asp-for="IdpreIdcidade" class="form-control" />
                <span asp-validation-for="IdpreIdcidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stcodigotributacaomunicipio" class="control-label"></label>
                <input asp-for="Stcodigotributacaomunicipio" class="form-control" />
                <span asp-validation-for="Stcodigotributacaomunicipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StservicoDescricao" class="control-label"></label>
                <input asp-for="StservicoDescricao" class="form-control" />
                <span asp-validation-for="StservicoDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idservico" class="control-label"></label>
                <input asp-for="Idservico" class="form-control" />
                <span asp-validation-for="Idservico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pcaliquota" class="control-label"></label>
                <input asp-for="Pcaliquota" class="form-control" />
                <span asp-validation-for="Pcaliquota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vlbasecalculo" class="control-label"></label>
                <input asp-for="Vlbasecalculo" class="form-control" />
                <span asp-validation-for="Vlbasecalculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vldesccondicionado" class="control-label"></label>
                <input asp-for="Vldesccondicionado" class="form-control" />
                <span asp-validation-for="Vldesccondicionado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vldescincondicionado" class="control-label"></label>
                <input asp-for="Vldescincondicionado" class="form-control" />
                <span asp-validation-for="Vldescincondicionado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stissretido" class="control-label"></label>
                <input asp-for="Stissretido" class="form-control" />
                <span asp-validation-for="Stissretido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vloutrasretencoes" class="control-label"></label>
                <input asp-for="Vloutrasretencoes" class="form-control" />
                <span asp-validation-for="Vloutrasretencoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vlcofins" class="control-label"></label>
                <input asp-for="Vlcofins" class="form-control" />
                <span asp-validation-for="Vlcofins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vliof" class="control-label"></label>
                <input asp-for="Vliof" class="form-control" />
                <span asp-validation-for="Vliof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vlcsll" class="control-label"></label>
                <input asp-for="Vlcsll" class="form-control" />
                <span asp-validation-for="Vlcsll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vldeducoes" class="control-label"></label>
                <input asp-for="Vldeducoes" class="form-control" />
                <span asp-validation-for="Vldeducoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vlinss" class="control-label"></label>
                <input asp-for="Vlinss" class="form-control" />
                <span asp-validation-for="Vlinss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vlir" class="control-label"></label>
                <input asp-for="Vlir" class="form-control" />
                <span asp-validation-for="Vlir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vltotaliss" class="control-label"></label>
                <input asp-for="Vltotaliss" class="form-control" />
                <span asp-validation-for="Vltotaliss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vlissretido" class="control-label"></label>
                <input asp-for="Vlissretido" class="form-control" />
                <span asp-validation-for="Vlissretido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vltotalliquido" class="control-label"></label>
                <input asp-for="Vltotalliquido" class="form-control" />
                <span asp-validation-for="Vltotalliquido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vlpis" class="control-label"></label>
                <input asp-for="Vlpis" class="form-control" />
                <span asp-validation-for="Vlpis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vlservicos" class="control-label"></label>
                <input asp-for="Vlservicos" class="form-control" />
                <span asp-validation-for="Vlservicos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vlcredito" class="control-label"></label>
                <input asp-for="Vlcredito" class="form-control" />
                <span asp-validation-for="Vlcredito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SttomCpfcnpj" class="control-label"></label>
                <input asp-for="SttomCpfcnpj" class="form-control" />
                <span asp-validation-for="SttomCpfcnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SttomPessoaTipo" class="control-label"></label>
                <input asp-for="SttomPessoaTipo" class="form-control" />
                <span asp-validation-for="SttomPessoaTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SttomIm" class="control-label"></label>
                <input asp-for="SttomIm" class="form-control" />
                <span asp-validation-for="SttomIm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SttomNome" class="control-label"></label>
                <input asp-for="SttomNome" class="form-control" />
                <span asp-validation-for="SttomNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SttomEndLogr" class="control-label"></label>
                <input asp-for="SttomEndLogr" class="form-control" />
                <span asp-validation-for="SttomEndLogr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SttomEndNumero" class="control-label"></label>
                <input asp-for="SttomEndNumero" class="form-control" />
                <span asp-validation-for="SttomEndNumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SttomEndComplemento" class="control-label"></label>
                <input asp-for="SttomEndComplemento" class="form-control" />
                <span asp-validation-for="SttomEndComplemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SttomEndBairro" class="control-label"></label>
                <input asp-for="SttomEndBairro" class="form-control" />
                <span asp-validation-for="SttomEndBairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdtomIdcidade" class="control-label"></label>
                <input asp-for="IdtomIdcidade" class="form-control" />
                <span asp-validation-for="IdtomIdcidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SttomCep" class="control-label"></label>
                <input asp-for="SttomCep" class="form-control" />
                <span asp-validation-for="SttomCep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SttomEmail" class="control-label"></label>
                <input asp-for="SttomEmail" class="form-control" />
                <span asp-validation-for="SttomEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SttomTelefone" class="control-label"></label>
                <input asp-for="SttomTelefone" class="form-control" />
                <span asp-validation-for="SttomTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StintNome" class="control-label"></label>
                <input asp-for="StintNome" class="form-control" />
                <span asp-validation-for="StintNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StintIm" class="control-label"></label>
                <input asp-for="StintIm" class="form-control" />
                <span asp-validation-for="StintIm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StintCpfcnpj" class="control-label"></label>
                <input asp-for="StintCpfcnpj" class="form-control" />
                <span asp-validation-for="StintCpfcnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NucodigomunicipioOrgaogerador" class="control-label"></label>
                <input asp-for="NucodigomunicipioOrgaogerador" class="form-control" />
                <span asp-validation-for="NucodigomunicipioOrgaogerador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stcei" class="control-label"></label>
                <input asp-for="Stcei" class="form-control" />
                <span asp-validation-for="Stcei" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stnumeroart" class="control-label"></label>
                <input asp-for="Stnumeroart" class="form-control" />
                <span asp-validation-for="Stnumeroart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stsituacao" class="control-label"></label>
                <input asp-for="Stsituacao" class="form-control" />
                <span asp-validation-for="Stsituacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stenviaporemail" class="control-label"></label>
                <input asp-for="Stenviaporemail" class="form-control" />
                <span asp-validation-for="Stenviaporemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idusuarioinclusao" class="control-label"></label>
                <input asp-for="Idusuarioinclusao" class="form-control" />
                <span asp-validation-for="Idusuarioinclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strecolheiss" class="control-label"></label>
                <input asp-for="Strecolheiss" class="form-control" />
                <span asp-validation-for="Strecolheiss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StpreCpfcnpj" class="control-label"></label>
                <input asp-for="StpreCpfcnpj" class="form-control" />
                <span asp-validation-for="StpreCpfcnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StpreIm" class="control-label"></label>
                <input asp-for="StpreIm" class="form-control" />
                <span asp-validation-for="StpreIm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StpreRazaosocial" class="control-label"></label>
                <input asp-for="StpreRazaosocial" class="form-control" />
                <span asp-validation-for="StpreRazaosocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StpreNomefantasia" class="control-label"></label>
                <input asp-for="StpreNomefantasia" class="form-control" />
                <span asp-validation-for="StpreNomefantasia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StpreEndlogradouro" class="control-label"></label>
                <input asp-for="StpreEndlogradouro" class="form-control" />
                <span asp-validation-for="StpreEndlogradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StpreEndnumero" class="control-label"></label>
                <input asp-for="StpreEndnumero" class="form-control" />
                <span asp-validation-for="StpreEndnumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StpreEndcomplemento" class="control-label"></label>
                <input asp-for="StpreEndcomplemento" class="form-control" />
                <span asp-validation-for="StpreEndcomplemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StpreEndbairro" class="control-label"></label>
                <input asp-for="StpreEndbairro" class="form-control" />
                <span asp-validation-for="StpreEndbairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdpresIdcidade" class="control-label"></label>
                <input asp-for="IdpresIdcidade" class="form-control" />
                <span asp-validation-for="IdpresIdcidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StpreEmail" class="control-label"></label>
                <input asp-for="StpreEmail" class="form-control" />
                <span asp-validation-for="StpreEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StpreCep" class="control-label"></label>
                <input asp-for="StpreCep" class="form-control" />
                <span asp-validation-for="StpreCep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StpreTelefone" class="control-label"></label>
                <input asp-for="StpreTelefone" class="form-control" />
                <span asp-validation-for="StpreTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stserie" class="control-label"></label>
                <input asp-for="Stserie" class="form-control" />
                <span asp-validation-for="Stserie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stunideco" class="control-label"></label>
                <input asp-for="Stunideco" class="form-control" />
                <span asp-validation-for="Stunideco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stobservacao" class="control-label"></label>
                <input asp-for="Stobservacao" class="form-control" />
                <span asp-validation-for="Stobservacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idempincfisc" class="control-label"></label>
                <input asp-for="Idempincfisc" class="form-control" />
                <span asp-validation-for="Idempincfisc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
