@model MVC.ViewModels.AutuarViewModel

@{
    ViewData["Title"] = "Autuar";
}
<form asp-action="Autuar" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
    <div class="card-header">
        <h4>Autuar</h4>
    </div>
    <div class="card-body">
         <div class="card">
            <div class="card-header">
                @{
                        @* await Html.RenderPartialAsync("~/Views/Shared/Partials/_Buscar.cshtml", @Model);*@
                        @if((bool) !Model.Economia.TemProcessos){
                            <h5>Processo e Etapa</h5>
                        }
                        else{
                            if (!(Model.Processo == null))
                            {
                                <h5>Processo: @Model.Processo.ProcessoId </h5>
                            }
                            else{

                                <h5>Processo e Etapa  </h5>
                            }

                        }

                    }
                </div>
                <div class="card-body">
                        @await Html.PartialAsync("~/Views/Autuar/Processo.cshtml", Model)
                    
            </div>
            <div class="card-footer">
                @* @await Component.InvokeAsync("Pagination", new { values = Model.values, routeData=Model.LinkData})*@
                <p>
                    
                </p>
            </div>
        </div>
        <!--Inicio Card Economia-->
         <div class="card">
            <div class="card-header">
                @{
                    <h5>IMÓVEL:ECONOMIA : @Html.DisplayFor(model => model.Economia.ImovelId) : @Html.DisplayFor(model => model.Economia.EconomiaId)</h5>
                }
            </div>
            <div class="card-body">
                    @*@await Html.PartialAsync("~/Views/Autuar/AutuarEconomia.cshtml",Model.Economia)*@
                    @await Html.PartialAsync("~/Views/Autuar/AutuarEconomiaEndereco.cshtml",Model)
            </div>
            
            <div class="card-footer">
                @* @await Component.InvokeAsync("Pagination", new { values = Model.values, routeData=Model.LinkData})*@
                <p>
            
                </p>
            </div>
            
        </div>
        <!--FInal Card Economia-->
        <!--Inicio Card Pessoa-->
         <div class="card">
            <div class="card-header">
                <h5> Endereço CPF/CNPJ: @Html.DisplayFor(model => model.Pessoa.conId) </h5>
            </div>
            <div class="card-body">
                    @*@await Html.PartialAsync("~/Views/Autuar/AutuarPessoaEndereco.cshtml",Model.Pessoa.Enderecos)*@
                    @await Html.PartialAsync("~/Views/Autuar/AutuarPessoaEndereco.cshtml",Model)
            </div>
            
            <div class="card-footer">
                @* @await Component.InvokeAsync("Pagination", new { values = Model.values, routeData=Model.LinkData})*@
                <p>
            
                </p>
            </div>
            
        </div>
        <!--Final Card Pessoa-->
            <!--Inicio Card Observação -->
            <div class="card">
                <div class="card-header">
                    <h5> Observação: </h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Etapa.ObservacaoEtapa" class="control-label"></label>
                        <input asp-for="Etapa.ObservacaoEtapa" class="form-control" />
                        <span asp-validation-for="Etapa.ObservacaoEtapa" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-footer">
                    @* @await Component.InvokeAsync("Pagination", new { values = Model.values, routeData=Model.LinkData})*@
                    <p>

                    </p>
                </div>

            </div>
            <!--Final Card Observação-->
            <!--Inicio Card Observação -->
            <div class="card">
                <div class="card-header">
                    <h5> Anexos: </h5>
                </div>
                <div class="card-body">
                    
                </div>

                <div class="card-footer">
                    @* @await Component.InvokeAsync("Pagination", new { values = Model.values, routeData=Model.LinkData})*@
                    <p>

                    </p>
                </div>

            </div>
            <!--Final Card Observação-->
    </div>
        <div class="card-footer">
        @{
            @*await Html.RenderPartialAsync("~/Views/Shared/Partials/_BotaoAdicionar.cshtml");*@
                <div class="form-group">
                    <input type="submit" value="Autuar" class="btn btn-primary" />
                </div>
        }
    </div>
    </div>
</form>