@model Domain.Entities.TipoProcesso

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TipoProcesso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoProcessoId" class="control-label"></label>
                <input asp-for="TipoProcessoId" class="form-control" />
                <span asp-validation-for="TipoProcessoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasTramite" class="control-label"></label>
                <input asp-for="DiasTramite" class="form-control" />
                <span asp-validation-for="DiasTramite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permanencia" class="control-label"></label>
                <input asp-for="Permanencia" class="form-control" />
                <span asp-validation-for="Permanencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="liberado" class="control-label"></label>
                <input asp-for="liberado" class="form-control" />
                <span asp-validation-for="liberado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
