<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 
        <base href="/BlazorWebAppITBI/" />
    <base href="/AutoDeclaracaoITBI/" />
    -->
    <base href="/" />
   <!--
    <link href="css/site.css" rel="stylesheet" />
   <script type="module" src="https://unpkg.com/@fluentui/web-components@latest"></script> 
   -->
    <!--Adicionei esse aqui-->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <!---->


    <link rel="stylesheet" href="app.css" />

    <!--Adicionei esse aqui-->
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorWebAppITBI.styles.css" />
    <!-- -->

    <link href="~/css/custom.css" rel="stylesheet" />

    <link rel="stylesheet" href="BlazorWebAppITBI.styles.css" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <HeadOutlet />
</head>

<body>
    

    <!--

    <div id="loading-indicator">
        <fluent-progress-ring></fluent-progress-ring>
    </div>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    -->



    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

<!-- 

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        var loadingIndicator = document.getElementById('loading-indicator');
        if (loadingIndicator) {
            loadingIndicator.style.display = 'none';
        }
    });
</script>
-->


