@model DBProsiga.Entities.Contribuinte

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contribuinte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConId" class="control-label"></label>
                <input asp-for="ConId" class="form-control" />
                <span asp-validation-for="ConId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConCargo" class="control-label"></label>
                <input asp-for="ConCargo" class="form-control" />
                <span asp-validation-for="ConCargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConFuncao" class="control-label"></label>
                <input asp-for="ConFuncao" class="form-control" />
                <span asp-validation-for="ConFuncao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConDtNasc" class="control-label"></label>
                <input asp-for="ConDtNasc" class="form-control" />
                <span asp-validation-for="ConDtNasc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConSexo" class="control-label"></label>
                <input asp-for="ConSexo" class="form-control" />
                <span asp-validation-for="ConSexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConRg" class="control-label"></label>
                <input asp-for="ConRg" class="form-control" />
                <span asp-validation-for="ConRg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConRgdtEmissao" class="control-label"></label>
                <input asp-for="ConRgdtEmissao" class="form-control" />
                <span asp-validation-for="ConRgdtEmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConRgorgaoExp" class="control-label"></label>
                <input asp-for="ConRgorgaoExp" class="form-control" />
                <span asp-validation-for="ConRgorgaoExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConRgufexp" class="control-label"></label>
                <input asp-for="ConRgufexp" class="form-control" />
                <span asp-validation-for="ConRgufexp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConNumTitulo" class="control-label"></label>
                <input asp-for="ConNumTitulo" class="form-control" />
                <span asp-validation-for="ConNumTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConNumHabilitacao" class="control-label"></label>
                <input asp-for="ConNumHabilitacao" class="form-control" />
                <span asp-validation-for="ConNumHabilitacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConCatHabilitacao" class="control-label"></label>
                <input asp-for="ConCatHabilitacao" class="form-control" />
                <span asp-validation-for="ConCatHabilitacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConIdtipoDocumento" class="control-label"></label>
                <input asp-for="ConIdtipoDocumento" class="form-control" />
                <span asp-validation-for="ConIdtipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConNrDocumento" class="control-label"></label>
                <input asp-for="ConNrDocumento" class="form-control" />
                <span asp-validation-for="ConNrDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConUfdocumento" class="control-label"></label>
                <input asp-for="ConUfdocumento" class="form-control" />
                <span asp-validation-for="ConUfdocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConNacionalidade" class="control-label"></label>
                <input asp-for="ConNacionalidade" class="form-control" />
                <span asp-validation-for="ConNacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConNacCorrigida" class="control-label"></label>
                <input asp-for="ConNacCorrigida" class="form-control" />
                <span asp-validation-for="ConNacCorrigida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConEstadoCivil" class="control-label"></label>
                <input asp-for="ConEstadoCivil" class="form-control" />
                <span asp-validation-for="ConEstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConProfissao" class="control-label"></label>
                <input asp-for="ConProfissao" class="form-control" />
                <span asp-validation-for="ConProfissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConTelefoneResidencial" class="control-label"></label>
                <input asp-for="ConTelefoneResidencial" class="form-control" />
                <span asp-validation-for="ConTelefoneResidencial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConTelefoneComercial" class="control-label"></label>
                <input asp-for="ConTelefoneComercial" class="form-control" />
                <span asp-validation-for="ConTelefoneComercial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConTelefoneCelular" class="control-label"></label>
                <input asp-for="ConTelefoneCelular" class="form-control" />
                <span asp-validation-for="ConTelefoneCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConEmail" class="control-label"></label>
                <input asp-for="ConEmail" class="form-control" />
                <span asp-validation-for="ConEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConBairroId" class="control-label"></label>
                <select asp-for="ConBairroId" class ="form-control" asp-items="ViewBag.ConBairroId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ConCidadeId" class="control-label"></label>
                <select asp-for="ConCidadeId" class ="form-control" asp-items="ViewBag.ConCidadeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ConCidNascId" class="control-label"></label>
                <input asp-for="ConCidNascId" class="form-control" />
                <span asp-validation-for="ConCidNascId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConRespRg" class="control-label"></label>
                <input asp-for="ConRespRg" class="form-control" />
                <span asp-validation-for="ConRespRg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConRespNome" class="control-label"></label>
                <input asp-for="ConRespNome" class="form-control" />
                <span asp-validation-for="ConRespNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConFoto" class="control-label"></label>
                <input asp-for="ConFoto" class="form-control" />
                <span asp-validation-for="ConFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConIdconjuge" class="control-label"></label>
                <input asp-for="ConIdconjuge" class="form-control" />
                <span asp-validation-for="ConIdconjuge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConIdanterior" class="control-label"></label>
                <input asp-for="ConIdanterior" class="form-control" />
                <span asp-validation-for="ConIdanterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConRendaMensal" class="control-label"></label>
                <input asp-for="ConRendaMensal" class="form-control" />
                <span asp-validation-for="ConRendaMensal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConFalecido" class="control-label"></label>
                <input asp-for="ConFalecido" class="form-control" />
                <span asp-validation-for="ConFalecido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConGrafica" class="control-label"></label>
                <input asp-for="ConGrafica" class="form-control" />
                <span asp-validation-for="ConGrafica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConDtBaseTce" class="control-label"></label>
                <input asp-for="ConDtBaseTce" class="form-control" />
                <span asp-validation-for="ConDtBaseTce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConIdcbo" class="control-label"></label>
                <input asp-for="ConIdcbo" class="form-control" />
                <span asp-validation-for="ConIdcbo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConNomeMae" class="control-label"></label>
                <input asp-for="ConNomeMae" class="form-control" />
                <span asp-validation-for="ConNomeMae" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConSenha" class="control-label"></label>
                <input asp-for="ConSenha" class="form-control" />
                <span asp-validation-for="ConSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConDtValidadeSenha" class="control-label"></label>
                <input asp-for="ConDtValidadeSenha" class="form-control" />
                <span asp-validation-for="ConDtValidadeSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConDtCriaSenha" class="control-label"></label>
                <input asp-for="ConDtCriaSenha" class="form-control" />
                <span asp-validation-for="ConDtCriaSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConFonetizado" class="control-label"></label>
                <input asp-for="ConFonetizado" class="form-control" />
                <span asp-validation-for="ConFonetizado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConIdnacionalidade" class="control-label"></label>
                <input asp-for="ConIdnacionalidade" class="form-control" />
                <span asp-validation-for="ConIdnacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TmpConFoneAuxiliar" class="control-label"></label>
                <input asp-for="TmpConFoneAuxiliar" class="form-control" />
                <span asp-validation-for="TmpConFoneAuxiliar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
