@{
    var controllerAtual = ViewContext.RouteData.Values["controller"].ToString();
    var actionAtual = ViewContext.RouteData.Values["action"].ToString();
}
<a class="btn btn-success mr-1" asp-action="Details" asp-controller=@controllerAtual asp-route-Id=@ViewData["Id"]>Detalhes </a>