@{
    var controllerAtual = ViewContext.RouteData.Values["controller"].ToString();
    var actionAtual = ViewContext.RouteData.Values["action"].ToString();
}
@*<a class="btn btn-success" href="javascript:history.back()"><i class="fa fa-arrow-rotate-back">RFA</a>*@
<a class="btn btn-success" href="javascript:history.back()">Voltar</a>