@{
    var controllerAtual = ViewContext.RouteData.Values["controller"].ToString();
    var actionAtual = ViewContext.RouteData.Values["action"].ToString();
}
<a class="btn btn-danger mr-1" asp-action="Delete" asp-controller=@controllerAtual asp-route-Id=@ViewData["Id"]>Excluir</a>