@page "/Account/AccessDenied"

<PageTitle>Accesso Negado</PageTitle>

<header>
    <h1 class="text-danger">Acesso Negado</h1>
    <p class="text-danger">Você não tem acesso para esse recurso.</p>
</header>
