@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Confirmação de senha esquecida</h1>
<p>
    Porfavor consulte seu email para resetar sua senha.
</p>
