@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<header>
    <h1 class="text-danger">Locked out</h1>
    <p class="text-danger">Esta conta foi bloqueada, porfavor tente mais tarde.</p>
</header>
