@page "/Account/Logoutfora"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
<FluentProgressRing /> <!-- Indicador de carregamento opcional -->
@code {
    protected override async Task OnInitializedAsync()
    {
        // Chama a API de logout ou finaliza o token
        await OnLogout();

        // Redireciona o usuário para a página inicial após o logout
        NavigationManager.NavigateTo("/Account/Login", forceLoad: true);
    }

    private async Task OnLogout()
    {
        // Faz uma requisição POST ao endpoint de logout no servidor
        //await HttpClient.PostAsync("Account/Logout?ReturnUrl=Account/Login", null);
        await HttpClient.PostAsync("Account/Logout", null);

        // Opcional: Limpar dados de autenticação armazenados no cliente
        // Por exemplo, você pode remover tokens salvos ou cookies
    }
}
@*

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using BlazorWebAppITBI.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Login</PageTitle>

<h1>Login</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <StatusMessage Message="@errorMessage" />
            <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <h2>Use uma conta de email cadastrada para realizar o login.</h2>
                <hr />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@example.com" />
                    <label for="email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="senha" />
                    <label for="password" class="form-label">Senha</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <div class="checkbox mb-3">
                    <label class="form-label">
                        <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" />
                        Relembre-me
                    </label>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                </div>
                <div>
                    <p>
                        <a href="Account/ForgotPassword">Esqueci a senha?</a>
                    </p>
                    <p>
                        <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Não tenho Cadastrado</a>
                    </p>
                    <p>
                        <a href="Account/ResendEmailConfirmation">Reenviar a confirmação para o email</a>
                    </p>
                </div>
            </EditForm>
        </section>
    </div>
    <!--

    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use outro serviço para logar.</h3>
            <hr />
            <ExternalLoginPicker />
        </section>
    </div>
    -->
</div>

@code {
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }


    public async Task LoginUser()
    {
        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.RequiresTwoFactor)
        {
            RedirectManager.RedirectTo(
                "Account/LoginWith2fa",
                new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = "Error: Invalid login attempt.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Relembre-me?")]
        public bool RememberMe { get; set; }
    }
}

*@