@model Domain.Entities.Etapa

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Etapa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EtapaId" class="control-label"></label>
                <input asp-for="EtapaId" class="form-control" />
                <span asp-validation-for="EtapaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessoId" class="control-label"></label>
                <input asp-for="ProcessoId" class="form-control" />
                <span asp-validation-for="ProcessoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SituacaoEtapaId" class="control-label"></label>
                <select asp-for="SituacaoEtapaId" class ="form-control" asp-items="ViewBag.SituacaoEtapaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServidorId" class="control-label"></label>
                <select asp-for="ServidorId" class ="form-control" asp-items="ViewBag.ServidorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImovelId" class="control-label"></label>
                <select asp-for="ImovelId" class ="form-control" asp-items="ViewBag.ImovelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EconomiaId" class="control-label"></label>
                <select asp-for="EconomiaId" class ="form-control" asp-items="ViewBag.EconomiaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoEtapaId" class="control-label"></label>
                <select asp-for="TipoEtapaId" class ="form-control" asp-items="ViewBag.TipoEtapaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoId" class="control-label"></label>
                <select asp-for="EnderecoId" class ="form-control" asp-items="ViewBag.EnderecoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PessoaId" class="control-label"></label>
                <select asp-for="PessoaId" class ="form-control" asp-items="ViewBag.PessoaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PessoaProprietariaResponsavelId" class="control-label"></label>
                <select asp-for="PessoaProprietariaResponsavelId" class ="form-control" asp-items="ViewBag.PessoaProprietariaResponsavelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PessoaTerceiraID" class="control-label"></label>
                <select asp-for="PessoaTerceiraID" class ="form-control" asp-items="ViewBag.PessoaTerceiraID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="antigo" class="control-label"></label>
                <input asp-for="antigo" class="form-control" />
                <span asp-validation-for="antigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="protocolo" class="control-label"></label>
                <input asp-for="protocolo" class="form-control" />
                <span asp-validation-for="protocolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="anoprotocolo" class="control-label"></label>
                <input asp-for="anoprotocolo" class="form-control" />
                <span asp-validation-for="anoprotocolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailEnviado" class="control-label"></label>
                <input asp-for="emailEnviado" class="form-control" />
                <span asp-validation-for="emailEnviado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailRecebido" class="control-label"></label>
                <input asp-for="emailRecebido" class="form-control" />
                <span asp-validation-for="emailRecebido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="whatsEnviado" class="control-label"></label>
                <input asp-for="whatsEnviado" class="form-control" />
                <span asp-validation-for="whatsEnviado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="whatsRecebido" class="control-label"></label>
                <input asp-for="whatsRecebido" class="form-control" />
                <span asp-validation-for="whatsRecebido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
