@{
    var controllerAtual = ViewContext.RouteData.Values["controller"].ToString();
    
}
@*<form asp-action="Index" asp-controller="@ViewBag.FiltroPesquisa" method="get">*@

 <div class="col-md-5 form-group">
    <form asp-action="Index" asp-controller=@controllerAtual method="get">
        <div class="form-actions no-color">
            <p>
                Localizar: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
</div>



