@model Domain.Entities.Processo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Processo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrgaoId" />
            <input type="hidden" asp-for="SequenciaNumerica" />
            <input type="hidden" asp-for="Ano" />
            <input type="hidden" asp-for="DigitoVerificador" />
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoProcessoId" class="control-label"></label>
                <select asp-for="TipoProcessoId" class="form-control" asp-items="ViewBag.TipoProcessoId"></select>
                <span asp-validation-for="TipoProcessoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgaoRemetenteId" class="control-label"></label>
                <select asp-for="OrgaoRemetenteId" class="form-control" asp-items="ViewBag.OrgaoRemetenteId"></select>
                <span asp-validation-for="OrgaoRemetenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadeRemetenteId" class="control-label"></label>
                <select asp-for="UnidadeRemetenteId" class="form-control" asp-items="ViewBag.UnidadeRemetenteId"></select>
                <span asp-validation-for="UnidadeRemetenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgaoDestinatarioId" class="control-label"></label>
                <select asp-for="OrgaoDestinatarioId" class="form-control" asp-items="ViewBag.OrgaoDestinatarioId"></select>
                <span asp-validation-for="OrgaoDestinatarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadeDestinatarioId" class="control-label"></label>
                <select asp-for="UnidadeDestinatarioId" class="form-control" asp-items="ViewBag.UnidadeDestinatarioId"></select>
                <span asp-validation-for="UnidadeDestinatarioId" class="text-danger"></span>
            </div>
          
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProcessoEnviado" /> @Html.DisplayNameFor(model => model.ProcessoEnviado)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProcessoRecebido" /> @Html.DisplayNameFor(model => model.ProcessoRecebido)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
