@model MVC.ViewModels.AutuarViewModel

@{
    ViewData["Title"] = "Proprietarios";
}

 <table id="tabelaImagens">
                        <thead>
                            <tr>
                                <th>
                                    
                                </th>
                            </tr>
                        </thead>
                    </table>
@* <div class="row">
                        <div class="col" id="tabelaImagens"></div>
                    </div>*@